name: GitHub Readme YouTube Cards
on:
  schedule:
    # Runs every Tuesday, at 7:45PM
    - cron: '45 19 * * 2'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: DenverCoder1/github-readme-youtube-cards@main
        with:
          channel_id: ${{ secrets.CHANNEL_ID }}
          comment_tag_name: YOUTUBE-CARDS
          youtube_api_key: ${{ secrets.YOUTUBE_API_KEY }}
          show_duration: true